BASE_URL=https://bkjw.njust.edu.cn
LOGIN_URL=https://ids.njust.edu.cn/authserver/login?service=https%3A%2F%2Fehall2.njust.edu.cn%2Flogin
TIMETABLE_URL=https://bkjw.njust.edu.cn/njlgdx/xskb/xskb_list.do
EXAM_QUERY_URL=https://bkjw.njust.edu.cn/njlgdx/xsks/xsksap_query
EXAM_LIST_URL=https://bkjw.njust.edu.cn/njlgdx/xsks/xsksap_list
SCORE_URL=https://bkjw.njust.edu.cn/njlgdx/kscj/cjcx_list
LEVEL_EXAM_URL=https://bkjw.njust.edu.cn/njlgdx/kscj/djkscj_list
USERNAME=
PASSWORD=
LOGIN_SUCCESS_SELECTOR=

# true / false
HEADLESS=false
MANUAL_LOGIN_TIMEOUT_MS=300000
