BASE_URL=http://202.119.81.113:8080
LOGIN_URL=http://202.119.81.113:8080
TIMETABLE_URL=http://202.119.81.112:9080/njlgdx/xskb/xskb_list.do
EXAM_QUERY_URL=http://202.119.81.112:9080/njlgdx/xsks/xsksap_query
EXAM_LIST_URL=http://202.119.81.112:9080/njlgdx/xsks/xsksap_list
USERNAME=
PASSWORD=
LOGIN_SUCCESS_SELECTOR=

# true / false
HEADLESS=false
MANUAL_LOGIN_TIMEOUT_MS=300000
